<!DOCTYPE html>
<!--基于Thymeleaf的模板引擎-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>主页</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is index page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
  	<form action="/logout" method="get" >
	    	<p>欢迎访问主页</p>
	   <input type="submit" value="注销"/>
  	</form>
  </body>
</html>
