<!DOCTYPE html>
<!--基于Thymeleaf的模板引擎-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>登录</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is index page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
  	<form action="/login" method="post">
    	<label>账号</label><input type="text" name="account"/><br>
    	<label>密码</label><input type="password" name="password"/><br>
    	<input type="submit" value="登录" ><br>
    	<!-- <p th:if="${#fields.hasErrors('account')} " th:errors="*{account}" ></p> -->
		<!-- <p th:text="{messages}" ></p> -->
		
  	</form>
  </body>
</html>
